/*Seccion Contacto*/

.bg-image4 {
    background-image: url("../imagenes/sign.jpg");
    filter: grayscale 80%;
    -webkit-filter: grayscale(40%);
    height: 38em; 
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 50% 50%;
    margin-top: 100px;
    font-size: 16px;
}

.contacto__contenedor {
    margin-top: 35px;
    text-align: center; 

    background-color: rgba(0, 0, 0, 0.692);
    border: 1px solid #0c0c0c;
    color:$blanco ;
    width: 80%;  
    margin-bottom: 100px;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 2;
    font-size: 16px;
 
}
.contacto__titulo {
    margin-top: 70px;
    font-size: 3.75em;
    margin-bottom: 5px;
    
}


.contacto__subtitulo{
    font-size: 2.5em;
    color:#f8f2f2 ;
    margin-top: 15px;

}

.contacto__texto{
    margin-top: 40px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    color: rgb(241, 241, 224);
    font-size: 1.75em;
    text-align: center;
    
}


input, #Experiencia {
    background-color: #f3e9e9;
    width: 11.25em;
    height: 2.8125em;
    border-radius: 4px;
    font-family: 'Open Sans Condensed';
    font-size: 16px;
    font-weight: bold;
}

input{
    background-color: #f8f2f2;
    width: 11.25em;
    height: 2.375em;
    border-radius: 4px;
    font-family: 'Open Sans Condensed';
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
}



.Formulario{
margin: 4.375em auto;
color: rgb(248, 248, 244);
font-size: 16px;
font-weight: bolder;
text-align: center;
letter-spacing: 2px;
width: 31.25em;
height: 37.5em ;
justify-content: center;    
display: grid;
grid-template-columns: 300px 300px;
grid-template-rows: repeat(6, 1fr) 2fr;    
align-content: center;   
grid-gap:30px
}

.Formulario #Nombre{
grid-row: 1/2;
grid-column: 2/3;

}

.Formulario .Nombre{
grid-row: 1/2;
grid-column: 1/2;
font-size: 1.5em;
}

.Formulario #Apellido{
grid-row: 2/3;
grid-column: 2/3;

}
.Formulario .Apellido{
grid-row: 2/3;
grid-column: 1/2;
font-size: 1.5em;
}

.Formulario #email{
grid-row: 3/4;
grid-column: 2/3;
}

.Formulario .email{
grid-row: 3/4;
grid-column: 1/2;
font-size: 1.5em;
}
.Formulario .Experiencia{
grid-row: 4/5;
grid-column: 1/2;
font-size: 1.5em;
}
.Formulario #Experiencia{
grid-row: 4/5;
grid-column: 2/3;
}


.Formulario #Comentarios{
grid-row: 6/8;
grid-column: 1/3;
width: 28em;
height: 8em;
justify-self: center;
font-size: 1.3em;
}



.Formulario #boton{
grid-row: 8/9;
grid-column: 2/3;
background: rgba(255, 68, 0, 0.719);
height: 2.5em;
width: 7.5em;
justify-self: self-start;
}