/* Seccion Galeria */
$carousel-transition-duration:.5s;


   
/* .bg-image2 {
    background-image: url("../imagenes/ush.jpg");
    filter: grayscale 60%;
    -webkit-filter: grayscale(40%);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 50% 50%;
    margin-top: 100px;
    margin-bottom: 50px;

} */


  

.Galeria {

   margin: auto;
    border: 1px solid $blanco;
   
    width: 80%;  
    margin-top: 12.5em;
    margin-bottom: 8em;
    font-size: 16px;
    }
   


.Galeria_texto{
    padding: 40px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    text-transform: uppercase;


    text-align: center;
    font-size: 1.6em;
    letter-spacing: 2px;
    color:$blanco ;
    line-height: 60px;
    
}       

/*------Tarjetas-------- */

.carousel{
    width: 50em;
    height: 34.4em;
    height: 40%;
    margin: 0 auto;
   
    border: solid 2px #cdcaca;
    padding: 0.5px;
    border-radius: 5px;
    margin-top: 6.25em;
    margin-bottom: 25px;
    font-size: 16px;
   
}

.carousel-item{
    width: 50em;
    height: 34.375em;
}

.carousel-text{
    background-color: rgba(53, 54, 54, 0.479);
    padding-top: 20px;
    padding-bottom: 30px;
}
.container-sm{
    max-width: 1000px;
}
.carousel-caption{
    font-size: 2.5rem;
}

.carousel-caption h5{
    font-size: 2rem;
}

.GaleriaContainer{
    margin-top: 1.8em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    font-size: 16px;
}
.cardsGaleria{
    text-align: center;
    width: 24em;
    height: 25em;
    border: solid 1.5px black;
    border-radius: 6px;
    padding-top: 1.7em;
    padding-bottom: 1.8em;
    margin: 1.25em;
    font-size: 16px;

    color: black;
    background-color: $ocre;
    

h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 1.25em;
    padding-bottom: 1.6em;
    font-size: 1.5em;
    font-weight: bold;
}    
}    


.cardsGaleria  {

    img{
    border-radius: 8px;
    object-fit: cover;
    width: 18em;
    height: 17.7em;}

}



