

/* Responsive */


@media only screen and (max-width: 1200px)
{

  /* iconos  */

  .iconosHead__lista{
    display: none;
}

.cardsContainer{
    display:flex;
    flex-wrap: wrap;
    }


.cardsContainer__tarjetas{
    margin-top: 3.125em;
    margin-bottom: 3.125em;
    }
/* experiencias */
    .Visitas{
       
    display:flex;
    flex-wrap: wrap;
    
     }

    .visitas-cards{
    margin-bottom: 30px;
     }


/* mi seleccion */
     
.articulos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
}
}



@media only screen and (max-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
      background-color: rgba(255, 255, 255, 0.507);
      margin-top: 30px;
      border-radius: 6px; }
    .navbar {
      transform: translateY(-1%); }

      h1.Titulo__1 {
      font-size: 3.2em;
      }

      p.Titulo__texto{
    font-size: 1.6rem;
       
    }

    .central{
        font-size: 16px;
    }

    h3.central2__text{
        font-size: 1.6em;
    }
/* galeria */

    div.Galeria{
        font-size: 14px;
    }
    
    div.carousel{
    font-size: 14px;
}
    p.Galeria_texto{
    font-size: 1.4em;
    text-align: center;
    }

    div.cardsGaleria{
    font-size: 14px;
    }

    /* mi seleccion */

    .bg-image3{
    height: 300px;
    }

    h1.Head__title{
    font-size: 3.4em;
    }

    p.Head__text{
    font-size: 1.3em;
    }

   .card{
    font-size: 14px;
    }


    /* contacto */
   div.contacto__contenedor{
    font-size: 12px;
    top: 30%;
    }
    
   

    form.Formulario{
    font-size: 14px;
    }

    div.bg-image4{
    font-size: 14px;
      
    }

     }



@media only screen and (min-width:769px){

    .nav-item{
        
        margin: 0px 8px;
        border-radius: 6px;
        padding: 5px;
    }

    .headIndex__titulo
    {
        font-size: 4.5em;
       
         }

    .headIndex__subtitulo
    {
        font-size: 3.5em;
    }

    
}


@media only screen and (max-width: 768px){
    /* INDEX */
   

    .headIndex__titulo{
    font-size: 3em;
        
    }

    .headIndex__subtitulo{
    font-size: 2em;
    }
    
    .cajaSubtitulo{
    font-size: 14px;
    line-height: 1.8em;
}

    .cardsContainer{
    font-size: 14px;
    }

    .central{
    font-size: 14px;
    }
    
    .grid-container{
    grid-template-columns: 350px 200px;
    grid-template-areas: 
                              "faro   pnt"
                              "faro   trekk"
                              "andes   ush    "               
            ;
    }
    


    /* Experiencias */

    div.bg-image1{
        background-position: 70% 50%;
        height: ($height)-300;
    }


   h1.Titulo__1 {

    letter-spacing: 3px;
     font-size: 2.8em; 
    }
    p.Titulo__texto{
        font-size: 1.2em;
        padding: 0.9em;
    }

    h3.Caja-fechas__titulo{
        font-size: 1.3em;
    }

    h3.central2__text{
        font-size: 1.4em;
    }
  
/* seccion galeria */

.articulos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.Galeria{
    font-size: 12px;
}


p.Galeria_texto{
    font-size: 1.2em;
    line-height: 50px;
    
}

div.carousel{
    font-size: 12px;
}

.GaleriaContainer{
    font-size: 14px;
}

/* mi seleccion */
.card{
    width: 20em;
    height: 25.4em;
}

.card-img-top{
    height: 14em;
}

h5.card__title{
    font-size: 1.3em;
    
}
p.card__text{
    font-size:1em;
   
}

div.bg-image4{
    font-size: 12px;
  
}
   

/* contacto */
h1.TituloContacto{
    font-size: 45px;
}

p.SubtituloContacto{
    font-size: 25px;
}

p.TextoContacto{
    font-size: 22px;
}

form.Formulario{
    font-size: 12px;
    align-items: stretch;
    justify-content: space-evenly;
    margin-top: 20%;
 
} 


  /* iconos  */

  .iconosHead__lista{
      display: none;
  }
}


     

     @media only screen and (max-width:576px){
        /* imagen fondo index */
    .bg-image{
        background-position: 20%;
    }

    .central{
        font-size: 12px;
        text-align: start;
        }
    
    /* contenedor img index */
    .cardsContainer{
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
         }
    
         
    .grid-container{
        grid-template-columns: 250px 150px;
        grid-auto-rows: 200px;
       
  
    }

    .trekk{
        grid-column-start: span 2;
    }

    .faro{
        grid-column-start: span 2;
    }

    .andes{
        grid-column-start: span 2 ;
    }

    .pnt{
        display: none;
    }

    .ush{
        display: none;
    }

    .central__text{
        text-align: center;
        margin: auto;
        font-size: 1.5em;
        }

    /* experiencias */
    div.bg-image1{
        background-position: 70% 50%;
        height: ($height)-400;
    }

    div.Titulo{
        top: 34%;
    }
    h1.Titulo__1{
        margin: 25px auto;
    }

    section.Visitas{
        font-size: 12px;
    }
      
    /* seccion galeria */

    div.Galeria{
        font-size: 9px;
        text-transform: uppercase;
        margin-bottom: 2em;
        padding: 40px;
        
    }

    h2.Galeria_titulo{
        text-align: left;
        padding: 0.5em;
    }

    p.Galeria_texto{
        font-size: 1em;
        line-height: 40px;
        
    }

    div.carousel{
        font-size: 10px;
    }
    .carousel{
        margin-bottom: 20px;
    }

    div.GaleriaContainer{
       
        font-size: 12px;

    }
        
    h1.Head__title {
        
        font-size: 2.5em;
    }
    
    p.Head__text{
        font-size: 20px;
    }
    
    .Formulario{
        font-size: 1.4rem;
    }
    
    
    /* experiencias */
    

    
    h1.Titulo__1 {
        font-size: 2em;}
    
    .Titulo__texto{
        font-size: 1.2em;
    }


    .headIndex__titulo{
        text-align: center;
    }
    
    h3.Caja-fechas__titulo{
        font-size: 1.1em;
    }

    h3.central2__text{
        font-size: 0.7em;
        margin: auto;
    } 
  
    /* mi seleccion */

    .card{
        font-size: 13px;
    }

    div.bg-image3{
        height: 576px;
    }

    section.articulos{
        margin-top: 50px;
    }


    /* contacto */
    div.bg-image4{
        font-size: 10px;
      
    }

    .contacto__contenedor{
        top: 30%;
    }

    form.Formulario{
        font-size: 10px;
        display: grid;
        grid-template-columns: 100px 150px;
        grid-template-rows: repeat(6, 1fr) 2fr;    
        align-content: center;   
        grid-gap:19px;
    }

    }

    @media only screen and (max-width:420px){

        .grid-container{
        
        grid-template-columns: 200px 100px;   
        grid-auto-rows: 150px; 
        
        }

        .faro{
            background-position: top;
        }

        .trekk{
            background-position: top;
        }

        div.carousel{
            font-size: 8px;
        }

        /* experiencias */

        h1.Titulo__1 {
        font-size: 1.5em;
        padding: 10px 15px 5px 15px;
        
        }

        p.Titulo__texto {
            font-size: 1em;}

/* contacto */
        div.contacto__contenedor{
            font-size: 10px;
        }

        form.Formulario{
            font-size: 8px;
            display: grid;
            grid-template-columns: 80px 100px;
            grid-template-rows: repeat(6, 1fr) 2fr;    
            align-content: center;   
            grid-gap:15px;
            justify-content: space-evenly;
            justify-items: center;
        }
    }