

/* Responsive */





@media only screen and (max-width:500px){
    /* imagen fondo index */
.bg-image{
    background-position: 20%;
}

/* contenedor img index */
    .cardsContainer{
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
     }

     
.grid-container{
    grid-template-columns: 200px 100px;
}
  .central__text{
        text-align: center;
        margin: auto;
        font-size: 1.5em;
    }


 /* Galeria */
 h1.TituloGaleria{
    font-size: 3rem;
 
}  
p.galeria{
    font-size: 24px;
    
}   
.carousel{
    margin-bottom: 20px;
}

h1.Head__title {
    
    font-size: 3em;
}

p.Head__text{
    font-size: 20px;
}

.Formulario{
    font-size: 1.4rem;
}


/* experiencias */
h1.Titulo__1 {
    font-size: 2em;}

.headIndex__titulo{
    text-align: center;
}
  
}




@media only screen and (min-width:769px){

    .nav-item{
        
        margin: 0px 8px;
        border-radius: 6px;
        padding: 5px;
    }

    .headIndex__titulo
    {
        font-size: 4.5em;
       
         }

    .headIndex__subtitulo
    {
        font-size: 3.5em;
    }
}



     
@media only screen and (max-width: 768px){
    /* INDEX */
   

    .headIndex__titulo
    {
        font-size: 3em;
        
    }

    .headIndex__subtitulo
    {
        font-size: 2em;
    }
    
.cajaSubtitulo{
    font-size: 14px;
    line-height: 1.8em;
}

    .cardsContainer{
        font-size: 14px;
    }

    
    .central__text{
        font-size: 16px;
    }
    

    /* Experiencias */

    .bg-image1{
        background-position: 70% 50%;
    }

    .Titulo{
        font-size: 12px;
    }

   h1.Titulo__1 {

    text-transform: capitalize;
    letter-spacing: 3px;
    font-size: 2.8em;
    }
   
   

.articulos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.Galeria_texto{
    font-size: 20px;
}
   
h1.TituloContacto{
    font-size: 45px;
}

p.SubtituloContacto{
    font-size: 25px;
}

p.TextoContacto{
    font-size: 22px;
}

form.Formulario{
    font-size: 1.2rem;
    align-items: stretch;
    justify-content: center;
 
} 
.input{
      width: 150px;
  }  

  /* iconos  */

  .iconosHead__lista{
      display: none;
  }
}


@media only screen and (max-width: 991px) {
    .navbar-expand-lg .navbar-collapse {
      background-color: rgba(255, 255, 255, 0.507);
      margin-top: 30px;
      border-radius: 6px; }
    .navbar {
      transform: translateY(-1%); }
     }


     

@media only screen and (max-width: 1024px)
{

  /* iconos  */

  .iconosHead__lista{
    display: none;
}

.cardsContainer{
    display:flex;
    flex-wrap: wrap;
    }


.cardsContainer__tarjetas{
    margin-top: 3.125em;
    margin-bottom: 3.125em;
    }

    .Visitas{
       
    display:flex;
    flex-wrap: wrap;
    
     }

     .visitas-cards{
         margin-bottom: 30px;
     }
}